/*
visibility

position
inset
top
right
bottom
left

width
height

border
border-radius
corner-shape
outline

margin
padding
gap

display
align-items
justify-content

color
background-color
opacity

shadow
box-shadow

font-family
font-weight
font-size
line-height
text-align

cursor
pointer-events
user-select

transition
*/

body {
    background-color: rgb(255, 253, 248);
}

p {
    display: inline;
}

#bodytext {
    position: relative;

    width: 820px;
    height: 500px;

    border: 6px solid rgb(254, 239, 164);
    border-radius: 80px;
    corner-shape: squircle;
    outline: none;

    margin: auto;
    padding: 40px;

    color: rgb(241, 205, 24);
    background-color: rgb(255, 249, 231);
    /*caret-color: transparent;*/

    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;

    transition: 0.2s ease;
}

#save {
    position: absolute;
    right: 30px;
    bottom: 30px;

    width: 80px;
    height: 80px;

    border: none;
    border-radius: 80px;
    corner-shape: squircle;

    margin: 0px;
    padding: 0px;

    background-color: rgb(254, 239, 164);

    cursor: pointer;

    transition: 0.2s ease;
}

#save:hover {
    right: 35px;
    bottom: 35px;

    width: 70px;
    height: 70px;
}

#options {
    position: relative;
    top: 0px;

    width: 350px;
    height: 40px;

    border: 6px;
    border-radius: 80px;

    margin: auto;
    padding: 0px;

    background-color: transparent;

    cursor: pointer;
    pointer-events: all;

    transition: 0.2s ease;
}

#tools {
    visibility: hidden;

    position: relative;
    top: -40px;

    width: 240px;
    height: 34px;

    margin: 0 auto;
    gap: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: top 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

#optionContainer {
    position: absolute;
    inset: 0px;

    width: 360px;
    height: 80px;

    border-radius: 0 0 40px 40px;
    corner-shape: squircle;

    margin: 40px auto;

    background-color: transparent;

    pointer-events: none;
}

#optionbg {
    position: absolute;
    inset: 0px;

    width: 360px;
    height: 20px;

    border-radius: 0 0 40px 40px;
    corner-shape: squircle;

    margin: 40px auto;

    background-color: transparent;

    pointer-events: none;

    transition: height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.format {
    height: 30px;
    
    border-radius: 20px;
    corner-shape: squircle;

    padding: 4px 20px;

    color: rgb(241, 205, 24);
    background-color: rgb(255, 249, 231);

    box-shadow: 0px 0px 20px -4px rgb(254, 239, 164);

    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;

    cursor: pointer;
    user-select: none;
}

#notepad {
    position: relative;

    width: 900px;

    margin: 40px auto;
}